---
layout: base
---
#content
    %img#logo{:src=>"/images/modules/seam_#{page.module_name}_85px.jpg"}
    %br/
    %em #{page.tagline}
    %hr/
    ~ content
    %h2 Contributors
    %table
        %thead
            %tr
                %th Contributor
                %th GitHub Username
                %th Company
                %th Location
        %tbody
            -for contributor in page.contributors
                %tr
                    %td
                        %img{:src=>"#{contributor['avatar_url']}", :width=>"50", :height=>"50"}
                        %br/
                        %a{:href=>site.github_user[contributor['login']]['html_url']}
                            #{site.github_user[contributor['login']]['name']}
                    %td= contributor['login']
                    %td
                        #{site.github_user[contributor['login']]['company']}
                    %td
                        #{site.github_user[contributor['login']]['location']}
    %h2 Releases
    %table
        %thead
            %tr
                %th Name
                %th Released Date
                %th Description
        %tbody
            - for version in page.versions
                %tr
                    %td
                        %a.toolTipLink{:href=>"#{version['self']}"}
                            #{version['name']}
                        -# TODO: this should be done via some jquery floating panel or something
                        %div.tooltip= version['releaseNotes']
                    %td= version['releaseDate']
                    %td= version['description']
#sidebar
    %h3 Downloads
    - page.downloads.each_pair do |key, value|
        %a{:href=>"#{value}"} #{key}
    - done
